@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Montserrat:300,400,700,800|Open+Sans:300');

@font-face {
  font-family: 'Super Font';
  src: url(../font/super-font.ttf);
}

@font-face {
  font-family: 'Brigade Font';
  src: url(../font/brigade-font.ttf);
}

@font-face {
  font-family: 'Race Font';
  src: url(../font/race-bold-font.ttf);
}

@font-face {
  font-family: 'Line Font';
  src: url(../font/line-font.ttf);
}
body {
  background: url("../img/road.jpg") no-repeat center center fixed;
  background-position: center;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
}

header.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background: #3f3f3f;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header__left .feature-title {
  font-family: 'Brigade FonT';
  font-weight: 700;
  color: #fff;
  font-size: 24px;
  text-shadow: #000000 1px 0.5px;
}
.feature-title{
  padding: 10px 12px;
}


.feature-title {
  --c:20px;  /* the cube perspective */

  --g:calc(var(--c)*0.707); /* 0.707 = cos(45deg) = sin(45deg) */

  border: solid transparent;
  border-width:0 0 var(--c) var(--c) ;
  background:
    linear-gradient(-45deg,transparent var(--g),rgba(255,255,255,0.6) 0) left   /var(--c) 100%,
    linear-gradient(135deg,transparent var(--g),rgba(255,255,255,0.3) 0) bottom /100% var(--c);
  background-repeat:no-repeat;
  background-origin:border-box;
  transition:0.3s,background-color 0.3s 0.3s,color 0.3s 0.3s;
  transform:translate(calc(var(--c)/-1),calc(var(--c)/1));
  clip-path: 
    polygon(var(--c) 0%, var(--c) 0%, 
    100% 0%, 
    100% calc(100% - var(--c)),100% calc(100% - var(--c)),
    var(--c) calc(100% - var(--c)),
    var(--c) calc(100% - var(--c)));
}
.feature-title:hover {
  transition:0.3s 0.3s,background-color 0.3s,color 0.3s;
  background-color:blue;
  color:#fff;
  transform:translate(0,0);
  clip-path: 
    polygon(0% var(--c), var(--c) 0%, 
    100% 0%, 
    100% calc(100% - var(--c)), calc(100% - var(--c)) 100%, 
    0% 100%,0% 100%);
}

/**/
div[feature-title] {
  display:inline-block;
  font-size:40px;
  font-family:sans-serif;
  margin:25px;
  padding:8px;
  cursor:pointer;
}

.feature-title {
  text-align:center;
}
.header__right a {
  padding: 1.1em 3em;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 900;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.header__right a:hover {
  background-color: #115dd8;
  box-shadow: 0px 15px 20px #00368e;
  color: #fff;
  transform: translateY(-7px);
}
.header__right a:active {
  transform: translateY(-1px);
}

main {
  max-width: 720px;
  margin: 5% auto;
}

.card {
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
  transition: 200ms;
  background: #fff;
}

.card__title {
  display: flex;
  align-items: center;
  padding: 30px 40px;
}

.card__title h3 {
  flex: 0 1 200px;
  text-align: right;
  margin: 0;
  color: #252525;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
}

.card__title .icon {
  flex: 1 0 10px;
  background: #115dd8;
  color: #fff;
  padding: 10px 10px;
  transition: 200ms;
}

.card__title .icon > a {
  color: #fff;
}

.card__title .icon:hover {
  background: #252525;
}

.card__body {
  padding: 0 40px;
  display: flex;
  flex-flow: row no-wrap;
  margin-bottom: 25px;
}

.card__body > .half {
  box-sizing: border-box;
  padding: 0 15px;
  flex: 1 0 50%;
}

.featured_text h1 {
  margin: 0;
  padding: 0;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
  font-size: 64px;
  line-height: 50px;
  color: #ff0000;
}

.featured_text p {
  margin: 0;
  padding: 0;
}

.featured_text p.sub {
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 300;
  margin-bottom: 5px;
}

.featured_text p.price {
  font-family: "Fjalla One", sans-serif;
  color: #252525;
  font-size: 26px;
}

.image {
  padding-top: 15px;
  width: 100%;
}

.image img {
  display: block;
  max-width: 100%;
  height: auto;
}

.description {
  margin-bottom: 25px;
}

.description p {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 27px;
  font-size: 16px;
  text-align: justify;
  color: #000000;
}

span.stock {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #a1cc16;
}

.reviews .stars {
  display: inline-block;
  list-style: none;
  padding: 0;
}

.reviews .stars > li {
  display: inline-block;
}

.reviews .stars > li .fa {
  color: #f7c01b;
}

.reviews > span {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin-left: 5px;
  color: #555;
}

.card__footer {
  padding: 30px 40px;
  display: flex;
  flex-flow: row no-wrap;
  align-items: center;
  position: relative;
}

.card__footer::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 40px;
  width: calc(100% - 40px);
  height: 3px;
  background: #115dd8;
  background: linear-gradient(to right, #115dd8 0%,#115dd8 20%,#ddd 20%,#ddd 100%);
}

.card__footer .recommend {
  flex: 1 0 10px;
}

.card__footer .recommend p {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  color: #555;
}

.card__footer .recommend h3 {
  margin: 0;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #115dd8;
}

.card__footer .action button {
  cursor: pointer;
  border: 1px solid #115dd8;
  padding: 14px 30px;
  border-radius: 200px;
  color: #fff;
  background: #115dd8;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  transition: 200ms;
}

.card__footer .action button:hover {
  background: #fff;
  color: #115dd8;
}
